/* import fonts */
/* Macondo */
/* Biryani */
/* Scada */
@import url("https://fonts.googleapis.com/css2?family=Biryani&family=Macondo&family=Scada&display=swap");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --niceGreen: #04aa6d;
    --selectedGreen: #067c51;
    --lightGreen: #dfd;
    --activeGreen: #05dd8e;
}

html,
body {
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8% 1fr 5%;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

header {
    display: flex;
    flex-direction:column;
    grid-area: header;
    justify-content: center;
    align-items:center;
    background: var(--niceGreen);
    color: white;
    padding: 2rem;
}

header > h1 {
    padding-top:3px;
    font-family: "Macondo", cursive;
    font-size: 2.3rem;
    line-height: 1
}

header > p {
    font-family: "Biryani", serif;
    font-size: .9rem;
}

main {
    grid-area: main;
}

.wrapper {
    display: flex;
}

aside {
    font-family: "Scada", sans-serif;
}

aside > fieldset > legend {
    padding: 0 4px;
}

#num {
    margin-top:2px;
}

#control-panel {
    background-color: var(--lightGreen);
    border-right: var(--niceGreen) solid 3px;
    border-bottom: var(--niceGreen) solid 3px;
    height: 100%;
}

#control-panel > fieldset {
    padding: 0 0.5rem 0.5rem 0.5rem;
    margin: 0.75rem;
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
}

#settings-enabled {
    display: flex;
    justify-content: space-around;
    margin-top: 0.5rem;
    font-size: 0.8rem;
}
label {
    padding-left: 0.5rem;
}

/* *** *** *** BUTTONS *** *** *** */
#control-panel > fieldset > button:first-of-type {
    margin-top:0.5rem;
}

#control-panel > fieldset > button {
    padding: 0.25rem 0 0 0;
    font-family: "Biryani", sans-serif;
    background-color: var(--niceGreen);
    color: white;
    border: none;
}

#control-panel > fieldset > button:hover {
    background-color: var(--selectedGreen);
    transition:0.25s;
}
#control-panel > fieldset > button:active {
    background-color: var(--activeGreen);
    transition:0s;
}

.flash {
    outline:solid 2px greenyellow;
    animation: flasher 0.25s linear infinite;
}
  
  @keyframes flasher {  
    100% { outline: 0; }
  }

/* *** *** *** TABLE *** *** *** */
table,
tr {
    margin: 0.5rem;
    vertical-align: top;
    text-align: left;
    font-size: 16px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ccc;
    font-size: 0.9rem;
}

tr:nth-child(even) {
    background: var(--lightGreen);
}

th {
    background-color: var(--niceGreen);
    color: white;
    padding: 11px 8px;
}

td {
    padding: 8px;
}

/* FOOTER */
.footer {
    bottom:0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-area: footer;
    background-color:#efe;
}

.footer > span, a {
        font-style:italic;
        font-family :Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: .85rem;
        color:var(--niceGreen)
}
